.float-window-left {
    position: fixed;
    top: 32px;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
}

.float-window-right {
    position: fixed;
    top: 32px;
    right: 0;
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
}
